---
import { APP_BLOG } from '~/utils/config';

import Grid from '~/components/blog/Grid.astro';

import { getBlogPermalink } from '~/utils/permalinks';
import { findLatestPosts } from '~/utils/blog';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import type { Widget } from '~/types';
import Button from '../ui/Button.astro';

export interface Props extends Widget {
  title?: string;
  linkText?: string;
  linkUrl?: string | URL;
  information?: string;
  count?: number;
}

const {
  title = await Astro.slots.render('title'),
  linkText = 'View all posts',
  linkUrl = getBlogPermalink(),
  information = await Astro.slots.render('information'),
  count = 4,

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;

const posts = APP_BLOG.isEnabled ? await findLatestPosts({ count }) : [];
---

{
  APP_BLOG.isEnabled ? (
    <WidgetWrapper id={id} isDark={isDark} containerClass={classes?.container} bg={bg}>
      {/* <div class="flex flex-col lg:justify-between lg:flex-row mb-8">
        {title && (
          <div class="md:max-w-sm">
            <h2
              class="text-3xl font-bold tracking-tight sm:text-4xl sm:leading-none group font-heading mb-2"
              set:html={title}
            />
            {APP_BLOG.list.isEnabled && linkText && linkUrl && (
              <Button variant="link" href={linkUrl}>
                {' '}
                {linkText} »
              </Button>
            )}
          </div>
        )}
        <div>
          {<p class="text-muted dark:text-slate-400 lg:text-sm lg:max-w-md" set:html={information} />}
          <br />
          <Button
            href={'#'}
            text="Subscribe to Newsletter"
            class="ml-0 py-2.5 px-5.5 md:px-6 font-semibold shadow-none text-sm w-auto"
            data-eo-form-toggle-id="adf19cae-dd6a-11ee-97ab-2b51af71a780"
          />
        </div>
      </div>*/}
      <div class="flex flex-col text-center mb-10 font-notosans">
        <div class="text-5xl md:text-6xl dark:bg-gradient-to-r dark:from-white dark:from-50% dark:via-white dark:via-10% dark:to-amber-200 bg-clip-text dark:text-transparent">
          Never miss tech news from
        </div>
        <div class="text-5xl md:text-6xl dark:text-amber-200">renowned creators in X</div>
      </div>
      <div class="flex flex-col text-center mb-10 text-md">
        We curate tweets from founders, indie makers, programmers, and AI tech news so
        <br />
        you can enjoy relevant content without all the noise.
      </div>
      <div class="flex flex-row sm:justify-center md:ml-[12vw] mb-10 font-notosans">
        <a class="" href={'#'} data-eo-form-toggle-id="adf19cae-dd6a-11ee-97ab-2b51af71a780">
          <div class="font-semibold shadow-none text-md rounded-xl bg-yellow-300 text-gray-950 pt-3 pb-3 pl-8 pr-8 hover:bg-indigo-700 hover:text-slate-50">
            Join the Newsletter
          </div>
        </a>
        <img
          id="its-free-image"
          class="h-20 ml-5 mt-2"
          src={
            'https://res.cloudinary.com/dxsornfee/image/upload/v1716793698/it_s_Free___1_-removebg-preview_bnliqd.png'
          }
        />
      </div>
      <div class="flex mb-2">
        <div class="flex -space-x-2 w-full justify-center">
          <img
            class="h-8 w-8 rounded-full ring-2 ring-indigo-700 dark:ring-white"
            src="https://unavatar.io/twitter/niepreneur"
            alt=""
          />
          <img
            class="h-8 w-8 rounded-full ring-2 ring-indigo-700 dark:ring-white"
            src="https://unavatar.io/twitter/eliasstravik"
            alt=""
          />
          <img class="h-8 w-8 rounded-full ring-2 dark:ring-white" src="https://unavatar.io/twitter/pxue" alt="" />
          <img
            class="h-8 w-8 rounded-full ring-2 ring-indigo-700 dark:ring-white"
            src="https://unavatar.io/twitter/eter_inquirer"
            alt=""
          />
          <img
            class="h-8 w-8 rounded-full ring-2 ring-indigo-700 dark:ring-white"
            src="https://unavatar.io/twitter/JanuBuilds"
            alt=""
          />
          <img
            class="h-8 w-8 rounded-full ring-2 ring-indigo-700 dark:ring-white"
            src="https://unavatar.io/twitter/thejorgemedina"
            alt=""
          />
          <img
            class="h-8 w-8 rounded-full ring-2 ring-indigo-700 dark:ring-white"
            src="https://unavatar.io/twitter/PLBompard"
            alt=""
          />
          <img
            class="h-8 w-8 rounded-full ring-2 ring-indigo-700 dark:ring-white"
            src="https://unavatar.io/twitter/lewisbuildsai"
            alt=""
          />
        </div>
      </div>
      <div class="flex justify-center mb-10 text-xs">Over 48 creators and founders have joined!</div>
      <Grid posts={posts} />
    </WidgetWrapper>
  ) : (
    <Fragment />
  )
}
